*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

.top-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: black;
    color: white;
}

.link-shop{
    color:inherit;
    font-weight: bolder;
    margin-left: 10px;
}
.language{
    padding-left: 200px;


}
.top-header-icono{
    display: flex;
    align-items: center;
    margin-left: 11px;
}

.nav{
    width: 100%;
    height: 5rem;
    background-color: white;
    border-bottom:1px solid  #E9EAEC;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 20px;

}
.nav-list{
    width: 400px;
    display: flex;
    justify-content: space-around;

}
.nav-list-item{
    list-style: none;
}

.nav-list-item a:hover{
    border-bottom:gray ;
}
.nav-list-item a{
    text-decoration: none;
    color: black;


}
.div-search{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search{
    width: 250px;
    padding-left: 10px;
    height: 2rem;
    background-color: #F4F4F6;
    border-radius: 5px;
    border:none
}
main{
display: flex;
height: 981px;

}
.mobileimg{
    margin-top:60px ;
}
.createaccountdiv{
    display: flex;
    flex-direction: column;
    margin-top: 125px; 
    margin-left: 100px;
    height:706px ;
}
.createaccountdiv h1{
    font-size: 36px;
    font-weight: 500;
    margin-bottom:24px ;
}
.createaccountdiv p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom:80px ;

}
.createaccountdiv form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.createaccountdiv  input {
    width: 370px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #828282;
    margin-bottom:40px ;
    outline: none;

}
.createaccountbutton{
    color: white;
    width:371px ;
    height:56px ;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(219, 68, 68, 1);
    border: none;
    margin-bottom:16px ;
    border-radius: 4px;

}
.googlebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width:371px ;
    height:56px ;
    font-size: 16px;
    font-weight: 500;
    border-color: #828282;
    border-radius: 4px;
    background-color: inherit;
    margin-bottom:34px ;

}
.googlebutton img{
    margin-right: 15px;
}

.createaccountdiv_login{
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-right: 16px;
    text-align: center;


}

.createaccountdiv_login-link{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #828282;
    font-weight: 500;
    margin-left: 16px;
    padding-bottom:  4px;

}
footer{
    height:440px;
    background-color: black;
    width: 100%;
  }
  .topdiv{
    margin: 0 auto;
    position: relative;
    height: 376px;
    color: white;
    display: flex;
   
}
.topdiv h1,.topdiv h2{
    margin-bottom: 24px;

}

.topdiv h1{
    font-size: 24px;
    font-weight: 700;

}
.topdiv h2{
    font-size: 20px;
    font-weight: 500;

}
.topdiv p{
    margin-bottom: 16px;

}
.topdiv-exclusive{
    position: absolute;
    top:80px ;
    left:135px ;
    width: 215px;
}
.topdiv-exclusive input{
    background-color: #000000;
    border: 1px solid white;
    width: 100%;
    height:30px ;

}
.topdiv-support{
    position: absolute;
    top:80px ;
    left:439px ;
    width: 175px;
}
.topdiv-account{
    position: absolute;
    top:80px ;
    left:701px ;
    width: 123px;
}
.topdiv-quicklink{
    position: absolute;
    top:80px ;
    left:911px ;
    width: 109px;
}
.topdiv-download{
    position: absolute;
    top:80px ;
    left:1107px ;
    width: 194px;
}
.topdiv-download p{
    opacity: 0.7;
    font-size: 12px;
    font-weight: 500;

}
.topdiv-download-social{
    position: relative;
    width:193px ;
    height:76px ;

}


.topdiv-download-social-qr{
    position: absolute;
    top: 0;
    left: 0;
    height:76px ;

}
.topdiv-download-social-playstore{
    position: absolute;
    top: 0;
    right: 0;
}
.topdiv-download-social-appstore{
    position: absolute;
    right: 0;
    bottom: 0;
}
.bottondiv{
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    height: 64px;
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottondiv div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7.67px;
    Width:16.67px;
    Height:16.67px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}